@import url(https://fonts.google.com/specimen/Fira+Code?category=Monospace);
body {
    font-family: 'Fira Code',monospace;
    background-color: #F5F5F7;
}
nav {
    border: 1px solid black; /*DELETE THIS*/
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #090808;
}
.navbar-logo {
    font-size: 45px;
    color: #F5F5F7;
    margin-left: 2%;
}
.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    margin-right: 2%;
}
.navbar-menu-item {
    font-size: 20px;
    display: inline;
}
a {
    color: white;
    text-decoration: none;
}