@import url(https://fonts.google.com/specimen/Fira+Code?category=Monospace);
body {
    font-family: "Fira Code",monospace;
    background-color: #F5F5F7;
    margin-left: 10%;
    margin-right: 10%;
}
/* navbar styling */
nav {
    border: 1px solid black; /*DELETE THIS*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #090808;
}
.navbar-logo {
    font-size: 45px;
    color: #F5F5F7;
    margin-left: 2%;
}
.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    margin-right: 2%;
}
.navbar-menu-item {
    font-size: 20px;
    display: inline;
}
a {
    color: white;
    text-decoration: none;
}
/* section 1 styling */
/* TO-DO: divide the space between the image and the text
evenly, remove borders, fix the spacing between button and
text.
 */
#sec-one {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sec-one-content-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.sec-one-textarea {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-one-title {
    border: 1px solid black;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 2px;
}
.sec-one-subtext {
    border: 1px solid black;
    font-size: 13px;
    margin-left: 4px;
}
#sec-one-button {
    background-color: #090808;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 8px;
    border-radius: 6px;
}
